{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bjp/css/stylecn.css' %}">
  <title>Connexion</title>
</head>
<body>

<!-- Bouton de connexion -->
<button id="openFormButton" class="open-form-button">Connexion</button>

<!-- Formulaire de connexion -->
<div id="popupForm" class="popup-form">
  <div class="container">
    {% if messages %}
        <div class="error-messages">
            {% for message in messages %}
                <p class="error{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      <p>Bienvenue</p>
      <input type="text" name="username" id="username" placeholder="Nom d'utilisateur"><br>
      <input type="password" name="password" id="password" placeholder="Mot de passe"><br>
      <input type="submit" value="Connexion"><br> 
      <a href="#">Mot de passe oublié?</a><br>
      <a href="{% url 'creation' %}">Pas de compte/S'inscrire.</a>
    </form>
  </div>
</div>

<script>
  // JavaScript pour montrer/cacher le formulaire popup
  const openFormButton = document.getElementById('openFormButton');
  const popupForm = document.getElementById('popupForm');

  openFormButton.addEventListener('click', function() {
    popupForm.classList.toggle('show');
  });

  // Fermer le formulaire si on clique en dehors
  window.onclick = function(event) {
    if (!popupForm.contains(event.target) && !openFormButton.contains(event.target)) {
      popupForm.classList.remove('show');
    }
  }
</script>

</body>
</html>
