{% load static %}

<!-- ================= DESKTOP NAV ================= -->
<nav class="main-nav">
  <div class="nav-logo">
    <a href="{% url 'homepage' %}">
      <img src="{% static 'img/logotramo.png' %}" alt="Inova Music" />
    </a>
  </div>

  <!-- Logo à gauche -->
  {% comment %}
  <a href="{% url 'homepage' %}" class="logo">
    <img
      src="{% static 'img/logotramo.png' %}"
      alt="Inova Music"
      style="height: 50px"
    />
  </a>
  {% endcomment %}
  <ul>
    <li>
      <a
        href="{% url 'homepage' %}"
        class="{% if request.path == '/' %}active{% endif %}"
      >
        <span class="icon">
          <ion-icon name="home-outline"></ion-icon>
        </span>
        <span class="text">Accueil</span>
      </a>
    </li>
    <li class="deroulant">
      <a
        href="{% url 'album_list' %}"
        class="{% if request.path == '/album/' %}active{% endif %}"
      >
        <span class="icon">
          <ion-icon name="albums-outline"></ion-icon>
        </span>
        <span class="text">Musique</span>
      </a>
      <ul class="sous">
        <li><a href="#">Albums</a></li>
        <li><a href="#">Pistes</a></li>
        <!-- Commentaire concernant PHP/MySQL
                    <li><a href="#">Cours PHP et MySQL</a></li>
                    -->
      </ul>
    </li>
    <li class="deroulant">
      <a
        href="{% url 'video_list' %}"
        class="{% if request.path == '/videos/' %}active{% endif %}"
      >
        <span class="icon">
          <ion-icon name="videocam-outline"></ion-icon>
        </span>
        <span class="text">Vidéos</span>
      </a>
      <ul class="sous">
        <li><a href="#">Clip</a></li>
        <li><a href="#">Cinéma</a></li>
        <li><a href="#">Sketch</a></li>
      </ul>
    </li>
  </ul>
  <div class="search-bar search-container">
    <div class="search-container">
      {% comment %}
      <div class="search-icon" id="search-toggle">
        <i class="bi bi-search"></i>
      </div>
      {% endcomment %}
      <input
        type="text"
        id="query"
        class="inputsearch"
        placeholder="Que souhaitez-vous regarder ou écouter?"
        autocomplete="off"
      />
      <input
        type="hidden"
        id="search-url"
        data-url="{% url 'recherche_globale' %}"
      />
      <div id="search-results" style="display: none"></div>
    </div>
  </div>

  <a href="{% url 'panier' %}" class="cart-icon">
    <i class="bi-journal-album"></i>
    {% if panier_count %}
    <span class="cart-count" id="cart-count">{{ panier_count }}</span>
    {% endif %}
  </a>
  {% if user.is_authenticated %}
  <button id="openLoginProfilButton" class="user-avatar-btn">
    {% if user.profile.photo %}
    <img src="{{ user.profile.photo.url }}" alt="profil" />
    {% else %} {{ user.username|first|upper }} {% endif %}
  </button>
  {% else %}
  <button id="openLoginFormButton" class="open-form-button right-align">
    Connexion
  </button>
  {% endif %}

  
</nav>

{% comment %} <nav class="top-nav">
  <div class="nav-logo">
    <a href="{% url 'homepage' %}">
      <img src="{% static 'img/logotramo.png' %}" alt="Inova Music" />
    </a>
  </div>

  <div class="search-container">
    <input
      type="text"
      class="inputsearch mobile-search"
      placeholder="Rechercher musique ou vidéo..."
      autocomplete="off"
    />
  </div>

  <a href="{% url 'panier' %}" class="cart-icon">
    <i class="bi-journal-album"></i>
    {% if panier_count %}
    <span class="cart-count">{{ panier_count }}</span>
    {% endif %}
  </a>
</nav> {% endcomment %}
<nav class="bottom-nav">
  <a href="{% url 'homepage' %}">
        <ion-icon name="home-outline"></ion-icon>
        <span>Accueil</span>
  </a>
  <a href="{% url 'album_list' %}">
    <ion-icon name="albums-outline"></ion-icon>
    <span>Albums</span>
  </a>

  <a href="{% url 'video_list' %}">
    <ion-icon name="videocam-outline"></ion-icon>
    <span>Vidéos</span>
  </a>

  {% if user.is_authenticated %}
  <a href="#">
    <ion-icon name="person-outline"></ion-icon>
    <span>Profil</span>
  </a>
  {% else %}
  <a href="#">
    <ion-icon name="log-in-outline"></ion-icon>
    <span>Connexion</span>
  </a>
  {% endif %}
</nav>
