{% extends 'store/base.html' %}
{% block title %}Profil{% endblock %}

{% block profile %}
<div class="profile-page">

    <!-- HEADER -->
    <header class="profile-header">

        <div class="profile-cover"
             style="background-image: url({% if profile_user.cover %}{{ profile_user.cover.url }}{% else %}/static/img/default-cover.jpg{% endif %});">
        </div>

        <div class="profile-info">

            <!-- AVATAR -->
            <div class="avatar-wrapper">
                <img class="profile-avatar"
                    src="{% if profile_user.avatar %}{{ profile_user.avatar.url }}{% else %}https://i.pravatar.cc/300?u={{ profile_user.username }}{% endif %}"
                    alt="{{ profile_user.username }}">

                {% if request.user == profile_user %}
                    <form class="avatar-form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" id="avatar-input" name="avatar" accept="image/*" hidden>
                        <label for="avatar-input" class="camera-btn">
                            <i class="fa fa-camera"></i>
                        </label>
                    </form>
                {% endif %}
            </div>


            <!-- TEXTE -->
            <div class="profile-text">
                <h1>{{ profile_user.username }}</h1>


                {% comment %} <!-- FOLLOW -->
                {% if request.user.is_authenticated %}
                    {% if request.user != profile_user %}
                        {% if request.user in profile_user.followers.all %}
                            <div method="POST" action="{% url 'unfollow' profile_user.id %}">
                                {% csrf_token %}
                                <button class="btn-follow followed">Suivi</button>
                            </div>
                        {% else %}
                            <div method="POST" action="{% url 'follow' profile_user.id %}">
                                {% csrf_token %}
                                <div class="btn-follow">Suivre</div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <a href="{% url 'login' %}" class="btn-follow">
                        Se connecter pour suivre
                    </a>
                {% endif %} {% endcomment %}
            </div>

        </div>
    </header>

    <!-- NAV -->
    <div class="profile-nav">
        <ul>
            <li class="active" data-tab="playlists">Playlists</li>
            <li data-tab="liked">Titres aimés</li>
            <li data-tab="following">Abonnements</li>
        </ul>
    </div>

    <!-- CONTENT -->
    <div class="profile-content">

        <!-- PLAYLISTS -->
        <div id="playlists" class="tab-content active">
            {% for playlist in playlists %}
            <div class="playlist-item">
                <div class="playlist-cover-grid">
                    {% for cover in playlist.get_cover_images %}
                        <img src="{{ cover }}" alt="cover">
                    {% endfor %}


                </div>
                <h3>{{ playlist.name }}</h3>
            </div>
            {% empty %}
                <p>Aucune playlist.</p>
            {% endfor %}
        </div>




        <!-- LIKED TRACKS -->
        <div id="liked" class="tab-content">
            {% for track in liked_tracks %}
            <div class="media-item"
                 data-type="audio"
                 data-url="{{ track.file.url }}"
                 data-cover="{{ track.cover_image.url|default:'/static/img/trackdefault.png' }}"
                 data-title="{{ track.title }}"
                 data-artist="{{ track.artist.name }}">

                <div class="media-thumb">
                    <img src="{{ track.cover_image.url|default:'/static/img/trackdefault.png' }}">
                    <button class="play-btn">
                        <i class="fa fa-play"></i>
                    </button>
                </div>

                <div class="media-info">
                    <h3>{{ track.title }}</h3>
                    <p>{{ track.artist.name }} • {{ track.duration }}</p>
                </div>
            </div>
            {% empty %}
            <p>Aucun titre aimé.</p>
            {% endfor %}
        </div>

        <!-- FOLLOWING -->
        <div id="following" class="tab-content">
            {% for user in following %}
            <div class="playlist-item">
                <img src="{{ user.avatar.url|default:'/static/img/default-avatar.png' }}">
                <h3>{{ user.username }}</h3>
            </div>
            {% empty %}
            <p>Aucun abonnement.</p>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock profile %}
