.skeleton{
    border-radius: 0.75rem;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1)infinite;
}

@keyframes pulse{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: .5;
    }
}

.profil {
    background: rgba(255, 255, 255, 0.06);
    color: #fff;
    padding: 3em;
    height: auto;
    border-radius: 20px 0 0 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 20px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  
  .profil p {
    font-weight: 900;
    color: #fff;
    opacity: 0.7;
    font-size: 2rem;
    margin-bottom: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .hidden {
    display: none;
}


.cart-icon {
    position: relative;
    font-size: 28px;
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
}

.cart-count {
    position: absolute;
    top: 0px;
    right: 7px;
    background: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
}

/* Sticky footer */
html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#main-content {
    flex-grow: 1;
}

footer {
    margin-top: auto;
}
