/* Styles globaux */
body {
        font-family: "Times New Roman", Times, serif;
        background: url('wall.jpg') no-repeat center center fixed;
        /* background-color: rgba(240, 248, 255, 0); */
        background-size: cover;
        background-position: center;
        color: #222;
        margin: 60px 0 0 0;
        padding: 0;
        height: 100vh; /* S'adapte à la hauteur totale de la fenêtre */
        /* overflow: hidden; Empêche les barres de défilement inutiles */
        
    }
    

/* En-tête */
header {
    background-color: rgb(49, 138, 138); /* Couleur Spotify-like */
    color: white;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 1.8em;
}

/* Navigation */
nav {
    position: fixed; /* Fixe la barre de navigation en haut de la page */
    top: 0;
    left: 0;
    width: 100%; /* Pour que la navigation prenne toute la largeur */
    display: flex;
    background: rgba(0, 0, 0, 0.543); /* Fond semi-transparent pour mieux voir le flou */
    margin-top: 0px;
    backdrop-filter: blur(10px); /* Effet de flou */
    -webkit-backdrop-filter: blur(10px); /* Prise en charge de Safari */
    z-index: 1000; /* Assure que la barre est au-dessus du contenu */
    box-shadow: 0 10px 8px  rgba(0, 0, 0, 0.639); /* Ajouter une ombre pour un effet visuel */
    justify-content: space-between; /* Pour séparer les éléments */
    align-items: center; /* Pour centrer verticalement les éléments */
    padding: 5px 30px; /* Ajustez le padding selon vos besoins */
}
nav button{
    color: white;
    background-color: rgba(255, 255, 255, 0);
    margin-right: 30px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 14px;
    line-height: 24px;
    border-radius: 4px;
    padding: 0px 16px;
    height: 32px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    border: 1px solid rgb(255, 255, 255);
    text-align:justify;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
            -0.5px -0.5px 0px rgba(255,255,255,1),
            0.5px 0.5px 0px rgba(0,0,0,0.15),
            0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    transform: translateY(0);
}
    
nav button :hover{
    color: rgb(0, 255, 255);
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition-property: box-shadow;
    }
button:hover {
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
}

nav a {
    color: white;
    margin: 0 15px;
    font-size: 1.1em;
    margin-right: 15px;
    font-size: 16px;
    
}

nav a:hover {
    color: rgb(0, 255, 255);
    outline-color: rgb(0, 255, 255);
    /* box-shadow: -3px -3px 15px rgb(0, 255, 255); */
    filter: drop-shadow(0px 0px 8px rgb(0, 255, 255 ));
    transition-property: box-shadow;
    transform: translateY(0.1em);
    border: 1px rgb(0, 255, 255); 
    /* border-radius: 5px; */
}

a {
    display: block;
    text-align: center; /* Centrer les liens */
    color: rgb(0, 0, 0); /* Couleur des liens */
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Section principale */

.main{
    color: #fff;
        /* padding: 50px 10%; */
        margin: 20px;
        margin-bottom: 30px;
        background: rgba(255, 255, 255, 0.06);
        padding: 20px;
        border-radius: 20px;
        border-left: 1px solid rgb(71, 145, 139);
        border-top: 1px solid rgb(71, 145, 139);
        backdrop-filter: blur(10px);
        box-shadow: 20px 20px 20px -6px rgb(71, 145, 139);
        text-align: center;
        position: relative;
        transition: all 0.2s ease-in-out;
}

/* Cartes d'album et vidéo */
.card {
    background: rgba(255, 255, 255, 0.267);
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.416);
    overflow: hidden;
    margin-bottom: 10px; /* Réduire l'espacement en bas de chaque carte */
    margin: auto;
    max-width: 200px; /* Garder la largeur réduite */
    text-align: center; /* Centrer le contenu de la carte */
    
    backdrop-filter: blur(10px); /* L'effet de flou sur l'arrière-plan derrière la carte */
    -webkit-backdrop-filter: blur(10px); /* Pour le support de Safari */
}

.card:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
            -0.5px -0.5px 0px rgba(255,255,255,1),
            0.5px 0.5px 0px rgba(0,0,0,0.15),
            0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    transform: translateY(0.5em);
    }
.bt svg {
    transition: transform 0.5s;
    }
.card:hover svg {
    transform: scale(0.9);
    fill: #333333;
    }

.card img {
    width: 100%;
    height: auto;
    max-height: 150px; /* Réduire la hauteur maximale de l'image */
}

.card-content {
    padding: 10px; /* Réduire le padding autour du contenu */
    background-color: rgba(255, 255, 255, 0.3);
}

.card-title {
    font-size: 1.2em; /* Réduire la taille du titre */
    margin: 0;
    color: #333;
}

.card-description {
    color: #666;
    font-size: 0.9em;
    margin-top: 10px;
}

/* Liste d'albums et vidéos */
.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Réduire l'espacement entre les cartes */
    justify-content: space-around; /* Répartir les cartes sur toute la largeur */
}

.list-item {
    flex: 1 1 calc(20% - 10px); /* Ajuster la taille des éléments en fonction de l'espace disponible */
    box-sizing: border-box;
    margin: 5px; /* Réduire la marge autour de chaque album */
}


.btn-acheter {
    background-color: #6a00ff;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 8px;
    transition: background-color 0.3s ease;
}

.btn-acheter:hover {
    background-color: #4b00c7;
}


.cart-icon {
    position: relative;
    font-size: 22px;
    margin-left: 15px;
    color: #333;
    text-decoration: none;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
}

/* Formulaires */
/* form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #1db954;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #1ed760;
} */
.open-form-button {
    margin-left: auto; /* Pousse le bouton vers la droite */
}

.right-align {
    margin-left: auto; /* Cette classe spécifique aligne le bouton à droite */
}
/* Pied de page */

