
/* #search-results {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    width: 100%;
    z-index: 1000;
    max-height: 100px;
    overflow-y: auto;
    display: none;
} */

#search-results div {
  padding: 2px;
  /* border-bottom: 1px solid #f0f0f0; */
  cursor: pointer;
}

#search-results div:hover {
  background: #f5f5f5;
  color: black;
}
/* .search-container {
    position: relative;
    width: 100%; /* ou fixe si tu veux une largeur définie, ex : 400px */
    /* max-width: 500px; optionnel : pour éviter que ce soit trop large */
/* } */ 



#search-results {
  position: absolute;
  color: white;
  top: 73%;
  /* left: 0; */
  /* width: 50%; */
  /* background: white; */
  /* border: 1px solid #ddd; */
  z-index: 1000;
  /* max-height: 100px; */
  overflow-y: visible;
  display: none;
  box-sizing: border-box;
  border-top: none;
  border-radius: 8px;
  width: 100%;
  max-width: 390px;
  display: flex;
  margin: 0;
  box-shadow: 0 3px 5px  #29b8c0;
  background: rgba(0, 0, 0, 0.543); /* Fond semi-transparent pour mieux voir le flou */
  backdrop-filter: blur(20px); /* Effet de flou */
  -webkit-backdrop-filter: blur(10px);
  align-items: center;
  
}


.inputsearch {
  background-color: var(--app-content-secondary-color);
  border: 1px solid var(--app-content-secondary-color);
  color: white;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px;
  padding: 0px 10px 0px 32px;  /* Espace à gauche pour l'icône */
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: left 10px center;  /* Positionnement de l'icône à gauche */
  width: 100%;
  max-width: 340px;
  transition: 0.2s;
  align-items: center;
}

.inputsearch:focus {
  color: rgb(0, 255, 255);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%2300ffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}

.inputsearch:hover {
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%2300ffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
  transition: 0.2s;
}
.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.search-options {
  display: flex;
  justify-content: center; /* Centre les boutons horizontalement */
  gap: 20px;
  margin-top: 82px; /* Augmente l'espace en haut pour les faire descendre */
  margin-bottom: 20px; /* Espace entre les boutons et la barre de recherche */
  position: fixed; /* Rend les boutons fixes */
  top: 0; /* Positionne les boutons en haut de la page */
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0); /* Optionnel : Ajoute un fond blanc pour que les boutons soient visibles même sur des sections défilantes */
  padding: 0px 0px 10px 0px; /* Ajoute un peu de padding autour des boutons */
  z-index: 1000; /* S'assure que les boutons restent au-dessus du contenu */
}
  

.search-option {
  /* position: fixed;  */
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: rgba(35, 33, 33, 0.546);
  font-size: 14px;
  border: 1px solid rgb(255, 255, 255);
  text-align:justify;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
          inset -4px -4px 6px -1px rgba(255,255,255,0.7),
          -0.5px -0.5px 0px rgba(255,255,255,1),
          0.5px 0.5px 0px rgba(0,0,0,0.15),
          0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  transform: translateY(0);
  background: rgba(0, 0, 0, 0.543); /* Fond semi-transparent pour mieux voir le flou */
  backdrop-filter: blur(10px); /* Effet de flou */
  -webkit-backdrop-filter: blur(10px); /* Prise en charge de Safari */
  box-shadow: 0 10px 8px  rgba(0, 0, 0, 0.639); /* Ajouter une ombre pour un effet visuel */ 
}


.search-option:hover {
  color: rgb(0, 255, 255);
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}

/* .search-option{
margin-top: 60px;
align-items: center;
justify-content: center;
} */
.search-option.active {
  color: rgb(0, 255, 255);
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}