.crd {
    background: rgba(255, 255, 255, 0.267);
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.416);
    overflow: hidden;
    margin-bottom: 10px; /* Réduire l'espacement en bas de chaque carte */
    margin: auto;
    max-width: 200px; /* Garder la largeur réduite */
    text-align: center; /* Centrer le contenu de la carte */
    
    backdrop-filter: blur(10px); /* L'effet de flou sur l'arrière-plan derrière la carte */
    -webkit-backdrop-filter: blur(10px); /* Pour le support de Safari */
}

.crd:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
            -0.5px -0.5px 0px rgba(255,255,255,1),
            0.5px 0.5px 0px rgba(0,0,0,0.15),
            0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    transform: translateY(0.5em);
    }
.bt svg {
    transition: transform 0.5s;
    }
.crd:hover svg {
    transform: scale(0.9);
    fill: #333333;
    }

.crd img {
    width: 100%;
    height: auto;
    max-height: 150px; /* Réduire la hauteur maximale de l'image */
}

.crd-content {
    padding: 10px; /* Réduire le padding autour du contenu */
    background-color: rgba(255, 255, 255, 0.3);
}

.crd-title {
    font-size: 1.2em; /* Réduire la taille du titre */
    margin: 0;
    color: #333;
}

.crd-description {
    color: #666;
    font-size: 0.9em;
    margin-top: 10px;
}